@media screen and (min-width: 601px) {
body{
		background-color: black;
		font-family: impostor;
		font-size: 32pt;
		color: white;
		line-height: 0.9;
	}
	img{
		width: 250px;
	}
	input{
		background-color: black;
		width:200px;
		height:50px;
		font-family: impostor;
		font-size:32pt;
		padding:1px 1px 1px 25px;
		color: white;
	}

	input:focus {
		background-color: #4a4a4a;
		border: 3px solid #555;
		height:50px;
		font-family: impostor;
		font-size:36pt;
		color:#ffaa00;
	}
	
	div.onlyLarge{
		display: inline;
	}
	
	div.onlySmall{
		display: none;
	}
}

@media screen and (max-width: 780px) {
	body{
		background-color: black;
		font-family: impostor;
		font-size: 21pt;
		color: white;
		line-height: 0.9;
	}
	img{
		width: 220px;
	}
	input{
		background-color: black;
		width:100px;
		height:40px;
		font-family: impostor;
		font-size:21pt;
		padding:1px 1px 1px 15px;
		color: white;
	}

	input:focus {
		background-color: #4a4a4a;
		border: 3px solid #555;
		height:40px;
		font-family: impostor;
		font-size:20pt;
		color:#ffaa00;
	}
	
	div.onlyLarge{
		display: inline;
	}
	
	div.onlySmall{
		display: none;
	}
}

@media screen and (max-width: 540px) {
	body{
		background-color: black;
		font-family: impostor;
		font-size: 24pt;
		color: white;
		line-height: 1;
	}
	img{
		width: 200px;
	}
	input{
		background-color: black;
		width:150px;
		height:38px;
		font-family: impostor;
		font-size:24pt;
		padding:1px 1px 1px 15px;
		color: white;
	}

	input:focus {
		background-color: #4a4a4a;
		border: 3px solid #555;
		height:34px;
		font-family: impostor;
		font-size:16pt;
		color:#ffaa00;
	}
	div.onlyLarge{
		display: none;
	}
	div.onlySmall{
		display: inline;
	}
}


div.description{
		display: none;
		line-height: 2.0;
		font-size: 1vw;
		width: 85%;
		padding: 10px;
		border: 1px solid white;
	}
	
div.formPage{
	display: inline;
}

div.resultPage{
	display: none;
	line-height: 1.2;
	font-size: 32pt;
	width: 85%;
}


@font-face {
  font-family: impostor;
  src: url("font/Impostor.ttf");
}

.custom-select {
  position: relative;
  font-family: impostor;
  font-size: 2.5vw;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: rgb(25, 25, 25);
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 0px;
  width: 0;
  height: 0;
  border: 10px solid white;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 14px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  color: black;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.8);
  color:#ffaa00;
}

div.textPop1, div.textPop2, div.textPop3{
	font-size:28pt;
	animation-play-state: paused;
	animation-name: textPop;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

@keyframes textPop{
	0% {font-size: 28pt;color: white;}
	35% {font-size: 30pt; color: #ffaa00;}
	100% {font-size: 28pt; color: yellow;}	
}